.main {
  background-color: #fff;
  color: #000;
}

.description {
 font-size: 16px;
}
.navbar{
  display: flex;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  justify-content: space-between;
  margin-bottom: 40px;
}
.navbarimage{
  /* margin-left: 50px; */
 width: 250px;
 /* height: 250px; */
 border-radius: 10px;

}
.navbarimage img{
  object-fit: contain;
}
.deliver{
  /* padding-top: 35px; */
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}
.data{
  font-family: Inter;
  font-weight: 300;
  /* line-height: 1.1; */
  background: #fff;
  margin: 0;
  padding: 0;
}
.data h1{
  font-size: 36px;
  margin-bottom: 35px;
  color: rgb(199,81,192);
}
.data p{
  color: rgb(199,81,192);
  font-size: 18px;
}
.deliver{
  flex-direction: row;
  display: flex;
  justify-content: space-around
}
.dataimage{
  width: 58vw;
  height: auto;
  max-width: 1300px;
}
.trusted{
  background-color: #007db8;
}
.trusted div{
    padding-top: 50px;
    padding-bottom: 80px;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}
.trusted div h2{
  text-align: center;
  font-weight: normal;
  font-size: 32px;
  color:#fff;
}
.trusted div figure{
  flex-wrap: wrap;
  /* display: flex; */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.trusted div figure ul{
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
}
.trusted div figure ul li{
  list-style: none;
}
.texth3{
  text-align: center;
  font-size: 36px;
  margin-top: 20px;
  color: #007db8;
}
.instructors{
  margin-top: 50px;
  display: flex;
}
.instructorsleft{
  margin-right: 30px;
}
.instructorsleft h3{
  color: #007db8;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 1.3rem;
}
.instructorsleft ul{
  margin-left: 1.2rem;
  list-style-type: disc;
  margin-bottom: 1rem;
  list-style-position: outside;
  line-height: 1.6;
}
.instructorsleft li{
  color: #56536e;
  font-size: inherit;
  font-size: 18px;
  font-family: Inter,sans-serif;
}

.instructorsimage img{
  float: left;
  object-fit: contain;
}
.new{
  font-size: 36px;
  font-weight: 700;
  margin-left: 30px;
  display: flex;
  margin-top: 20px;
}
.new1{
  padding-right:10px;
  color: red;
}
.buttons{
  display: flex;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  justify-content: space-evenly;
}
.buttons button{
  margin-right: 10px;
  border: 1px solid #007db8;
}
.grids{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}

@media only screen and (max-width: 415px) and (min-width:280px)  {
  .loginbutton{
  display: flex;
  margin-top: 6px;
 }
 .loginbutton button{
   border: 1px solid #007db8;
   margin-left: 10px;
 }
  .deliver{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
  .instructors{
    display: flex;
    flex-direction: column;
  }
  .new{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 26px;
  }
  .buttons{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
  }
  .buttons button{
    object-fit: cover;
    font-size: 14px;
  }
  .grids{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 40px;
  }
  
}