.form {
    margin: auto;
    height: auto;
    width: 400px;
    margin-left: auto;
    margin-top: auto;
    /* border: 1px solid black; */
  }
  .navbarimage{
   width: 250px;
   border-radius: 10px;
  
  }
  .navbarimage img{
    object-fit: contain;
  }
  .bg {
   display: flex;
   justify-content: space-between;
    padding: 17vh 0;
    
  }
  #main{
    background-image: url("https://images.pexels.com/photos/268533/pexels-photo-268533.jpeg?cs=srgb&dl=pexels-pixabay-268533.jpg&fm=jpg");
    height: 100%;
    background-size: cover;

  }
  .images{
    width: 50%;
    /* border: 1px solid teal; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .images>img{
    height: 70%;
    width: 70%;
    border-radius: 10px;
  }
  .form > div > div{
    height: 50px;
    width: 100%;
  }
  .form > div > div > input{
    height: 80%;
    width: 100%;
    font-size: 1.2rem;
    border-radius: 5px;
    padding: 0 1vh;
  }
  .btn{
    display:flex ;justify-content:space-evenly
  }
  .btn > button ,.btn>a>button{
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    color: white;
    padding: 1vh 2vh;
    width: 150px;
  }

  @media only screen and (max-width: 426px) and (min-width:280px)  {
    .bg{
      flex-direction: column;
    padding: 7vh 2vh;
min-height: 560px;
    }
    .form{padding: 0; width: 100%;}
    .images{width: 100%;padding: 6vh 0 0 0;height: 50%;}
    .form>div:nth-child(4){
      margin-bottom: 3vh;
    }
    .btn > button ,.btn>a>button{
      width: 140px;
    }
  }
@media only screen and (min-width: 426px) and (max-width:780px)  {
  .bg{
    padding: 0 2vh;
min-height: 560px;

  }
  .images{padding: 0;}

  .images>img{width: 80%;height: 50%;}
}